table {
    font-family: arial, sans-serif;
    font-size: larger;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}