table {
    font-family: arial, sans-serif;
    font-size: xx-large;
    border-collapse: collapse;
    width: 100%;
    vertical-align: middle;
}

td {
    border: 5px solid black;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}